:root {
  --screen-light: hsl(210, 100%, 60%);
}

body {
  background-color: var(--screen-light);
}

img {
  width: 70px;
  height: 70px;
}

.help__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  background: none;
}
